@import url(http://fonts.googleapis.com/css?family=Lobster);
body
{
  background:#CDDCEC;
  font-family:'Lobster', cursive;
  font-size:small;
  margin:8px 0 16px;
}
.hero-unit {
  color: black;
  margin: 20px auto 0 auto;
  width: 80%;
  height: 150px;
  font-weight: 100;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 5px;
  text-align: center;
}
.hero-unit h1 {
  font-family: 'Lobster', cursive;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -1px;
  color: black;
  text-align: center;
}
#contenedor{
  margin:auto;  
}
#col-md-6{
  margin: auto;

}
#form-group{
  margin:60px;
  width: 60%;
  font-family: 'Lobster', cursive;
  font-size: 24px;
}
#form-control input-sm
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
fieldset{
  width: 50%
}
/**** Logo Section  *****/
h1
{
  font-family: 'Lobster', cursive;
  background-color:#4B75B3;
  margin:0;
  min-height:0;
  padding:0;
  text-decoration:none;
  text-indent:2px;
  color: #000000;
  
}
h1 a
{
  
  display:block;
  height:100%;
  min-height:40px;
  overflow:hidden;
}


img
{
  border:none;
}


/**** Form Section ****/

.appnitro li
{
  width:61%;
}

form ul
{
  font-size:100%;
  list-style-type:none;
  margin:0;
  padding:0;
  width:100%;
}

form li
{
  display:block;
  margin:0;
  padding:4px 5px 2px 9px;
  position:relative;
}

form li:after
{
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden;
}

.buttons:after
{
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden;
}

.buttons
{
  clear:both;
  display:block;
  margin-top:10px;
}
label.error{
  color: red;
  background-image: url("http://www.google.es/imgres?imgurl=http://subversion.developpez.com/projets/abaca/releases/abaca_classic-1.2.0-fx/global/icons/Error.png&imgrefurl=http://subversion.developpez.com/projets/abaca/releases/abaca_classic-1.2.0-fx/global/icons/&h=32&w=32&tbnid=xoA08f_khK-IOM:&zoom=1&docid=wGyk9WYCbFJvyM&ei=OWfyVI--JpD5ateWgvAM&tbm=isch&client=ubuntu&ved=0CC4QMygPMA8");
  background-repeat: no-repeat;
} 
input.error {
  background-color: #FF9F9F

}
